In [2]:
type([f"s{i}" for i in range(4)])

list

In [4]:
from collections import namedtuple

In [9]:
tup = namedtuple("mytup", [f"s{i}" for i in range(4)])
tup

__main__.mytup

In [16]:
tup(1, 2, 3, 5)

mytup(s0=1, s1=2, s2=3, s3=5)

In [ ]:
tup = namedtuple("mytup", ["s0", "s1", "s2", "s4"])